body {
    font-family: "Lato", sans-serif;
    background-color: #eee;
    border: 10px solid #78430b;
}

.button {
    font-weight: 400;
    color: gray;
    cursor: pointer;
}

.button:hover {
    color: black;
    font-size: larger;
    transition-property: font-size;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
}

.player {
    font-weight: 300;
    font-size: large;
    letter-spacing: 1px;
    margin: 0;
}

.active-player {
    content: url(./images/icons/circle-fill.svg);
    width: 13px;
    margin-left: 10px;
    padding-bottom: 2px;
}

.score {
    font-weight: 200;
    font-size: 50px;
    margin: 0;
}

